.anh {
  width: 400px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.container {
  position: relative;
  color: #ffffff;
}
.centre {
  position: absolute;
  top: 50%;
  left: 50%;
}
.khoangcach {
  text-align: left;
}
.khoangcach i {
  color: #199cdb;
}
.inline {
  font-size: 50px;
}
.bienmat {
  display: none;
}

.border1 {
  border-bottom: 3px solid #dbc89c;
}
.border2 {
  border-right: none;
}
.background1 {
  background-color: #f7f7f7;
  font-size: 1px;
}
.anh1 {
  width: 300px;
}
.inline1 {
  display: block;
  font-size: 20px;
}
.inline2 {
  color: black;
  font-size: 20px;
  display: none;
}
.inline3 {
  display: inline-block;
  font-size: 20px;
}
